<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" id="WebApp_ID" version="2.4">
  <display-name>Spring MVC Application</display-name>
  <servlet>
    <servlet-name>HelloWeb</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <load-on-startup>-1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloWeb</servlet-name>
    <url-pattern>/HelloWeb/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
   	<servlet-name>FormHandling</servlet-name>
   	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
   	<load-on-startup>-1</load-on-startup> 
  </servlet>
  <servlet-mapping>
   	<servlet-name>FormHandling</servlet-name>
   	<url-pattern>/FormHandling/*</url-pattern> 
  </servlet-mapping>
  
  <servlet>
   	<servlet-name>WebRedirect</servlet-name>
   	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
   	<load-on-startup>-1</load-on-startup>
  </servlet>
  <servlet-mapping>
   	<servlet-name>WebRedirect</servlet-name>
   	<url-pattern>/WebRedirect/*</url-pattern> 
  </servlet-mapping>	  
  
  <servlet>
   	<servlet-name>StaticPages</servlet-name>
   	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
   	<load-on-startup>-1</load-on-startup> 
  </servlet>
  <servlet-mapping>
   	<servlet-name>StaticPages</servlet-name>
   	<url-pattern>/StaticPages/*</url-pattern> 
  </servlet-mapping>
  
  <servlet>
   	<servlet-name>ExceptionHandling</servlet-name>
   	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
   	<load-on-startup>1</load-on-startup> 
  </servlet>
  <servlet-mapping>
   	<servlet-name>ExceptionHandling</servlet-name>
   	<url-pattern>/ExceptionHandling/*</url-pattern> 
  </servlet-mapping>

</web-app>